In [1]:
# sort array
a=[1,2,3,4,5]
a.sort()# ascending order short
print(a)
a
a.sort(reverse=True)#decending order
# reverse fun for only reverse
a.reverse()

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [2]:
# built in function
# len():provide length of iterable eg list etc onlycount,1,2 
#sum(): gives sum of numbers of any iterative
a=[1,2,3,4,5]
result=sum(a)
a

[1, 2, 3, 4, 5]

# boolean data

In [ ]:
# t and false

In [4]:
# opreation that gives boolean data
#1 logical
#relational
#membership
#identity
# boolean are immutable data type 
a=True+False
print(a)
print(70*False)


# all the non empety data like list ,touple srt etc 
a=1
b=-1
c={'dh':'gc'}
# bool()
print(bool(a))

1
0
True

In [10]:
# false
a=0
b=0.0
c=[]
d=()
e= set{}
f={}
g=''
print(bool(a,b))
a=4
if a:
    print('a is non  zero')

SyntaxError: invalid syntax (3641594314.py, line 6)

In [7]:
# string :are immutable data type
# i.e seq. of char. like single ,double and tripal cuotes "",''""..
a=str()# str is built in function to create str
a
a=''
a=""""""

In [9]:
# non empty string
a=str('dhananjay')
# werong typr object error b=str['dj','gc']
a='hello'
b="dj"
c=""" gc"""
print(bool(c))
#

'dhananjay'

In [18]:
# accessing str element simelar to list element.ie indexing and slicing
d='hello dhananjagy gc'
'''# indexing negati ve and positive
print(d[-4])
print(d[3])'''
# slicing
print(d[:4])
print(d[2:5])
print(d[1:6:2])# trident datatype(star:end:stepesjum)

hell
llo
el

# install git

str method

#-capatalize()
#-title()
#-upper(0)
#-lower()
#-split()
#-join()

In [39]:
a='dhananjay'
r=a.capitalize()
print(a)
r# for capitalize

dhananjay

'Dhananjay'

In [25]:
# split()
a='hello'
#r=a.split()
#r
# split take data as alist
r=a.split('l')
r

['he', '', 'o']

In [26]:
# join
d=['dhananjay','gc']
r=' '.join(d)
# r=d.jion(d)ie wrong
# capitalize()
# title()
# upper()
# lower()
# split()
# join()


# title()
a = "hello world"
result = a.title()
print(result)  # Hello World

# capitalize()
a = "hello world"
result = a.capitalize()
print(result)  # Hello world


# upper()
result = a.upper()
print(result)  # HELLO WORLD

# lower()
a = "Hello World"
result = a.lower()
print(result)  # hello world


# split()
a = "hello world"
result = a.split()
print(result)  # ["hello", "world"]

result = a.split("o")
print(result)  # ["hell", " w", "rld"]


# join()
data = ["Python", "is", "high", "level", "language"]
result = " ".join(data)
# result = data.join(" ")  # This is wrong because list doesnt have join method
print(result)  # Python is high level language

result = " + ".join(data)
print(result)

Hello World
Hello world
HELLO WORLD
hello world
['hello', 'world']
['hell', ' w', 'rld']
Python is high level language
Python + is + high + level + language

In [29]:
# 
d='hello'
print(d[::-1])# reverse str
d=[1,2,3,4]#[1,2,9,4]
d[2]=9
d
''''# for str ie immutable so take error
d='dhananjay'
d[2]='d'
d'''

olleh

"'# for str ie immutable so take error\nd='dhananjay'\nd[2]='d'\nd"

In [31]:
# concatanation operation (+)
a='hello '
b='dj'
a+b
#

'hello dj'

In [32]:
# reperatation operation
print('hello'*3)

hellohellohello

In [35]:
# membership operator('in',and'not in)
# Membership Operation ("in" and "not in")
print("h" in "hello")  # True
print("o" not in "hello")  # False
print('e'in 'hello')
print('d'not in 'hello')

True
False
True
True