# EWAP to prompt the user for hours and rate per hour using input to compute gross pay. Pay the hourly rate for the hours up to 40 and 1.5 times the hourly rate for all hours worked above 40 hours. 
Use 45 hours and a rate of 10.50 per hour to test the program (the pay should be 498.75). You should use input to read a string and float() to convert the string to a number.

1 user input in /hr and using input

In [30]:
'''hr=45
rate=10
total=40*10+5*10*1.5
hr=print(int(input("enter the hours")))
rate=print(float(input("enter the rate")))
if hr >= 40:
    gross_pay=40*rate+((hr-40)*rate*1.5)
else:
    print(f"totle pay :{gross_pay}")
    '''


hr = int(input("Enter the hours: "))
rate = float(input("Enter the rate: "))

if hr <= 40:
    gross_pay = 40 * rate + ((hr - 40) * rate * 1.5)
else:
    gross_pay = hr * rate

print(f"Total pay: {gross_pay}")

Enter the hours: 4
Enter the rate: 1.5
Total pay: -21.0

In [24]:
"""
WAP to prompt the user for hours and rate per hour using input to compute gross pay.
Pay the hourly rate for the hours up to 40 and 1.5 times the hourly rate for all hours worked above 40 hours.

Use 45 hours and a rate of 10.50 per hour to test the program (the pay should be 498.75).
You should use input to read a string and float() to convert the string to a number.

"""

total_hrs = float(input("Enter total hour "))
rate = float(input("Enter rate per hour "))

if total_hrs <= 40:
    total_pay = total_hrs * rate
else:
    ot_hrs = total_hrs - 40
    ot_pay = ot_hrs * rate * 1.5
    normal_pay = rate * 40
    total_pay = ot_pay + normal_pay

print(f"total pay is {total_pay}")

Enter total hour 40
Enter rate per hour 1.5
total pay is 60.0

nasted if

In [7]:
a=1
b=3
c=4
if c>a:
    if c>b:
        print('c is greater then b')
    else:
        print('c is not greater')
else:
    print('a is greater then c')
    
    '''
    # "Nested if" is also possible in python


a = 1
b = 2
c = 3

if c > a:
    if c > b:
        print("c is the greatest")
    else:
        print("c is not the greatest")
else:
    print("a is greater than c")'''

c is greater then b

# loop for repeated task
- also called iteration
# there are 2 type of loop
- for loop:
- while loop
- but do while loop is not mention

In [11]:
# for loop in python:i.e used with iterables(seq.data )in py


v=['a','e','i','o','u'] 
for i in v:# traversing in v ,syntax:[for _item/your name_ in _data type ]
    print(i)

a
e
i
o
u

In [34]:
# range():i.e builting function to gen. n numpers

d=range(10)
print(list(d))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
str='hello world'
str=range(50)
print(list(str))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [36]:
#for i in range(0,50):  # we can also write : for_in range(0,50)
   print('hello world')

IndentationError: unexpected indent (3630105408.py, line 2)

In [19]:
# enumerate():element of iterable along along with there count
v=['a','e','i','o','u'] 
d=enumerate(v) # also for 1 to stat
print(list(d))#[(0, 'a'), (1, 'e'), (2, 'i'), (3, 'o'), (4, 'u')]

[(0, 'a'), (1, 'e'), (2, 'i'), (3, 'o'), (4, 'u')]

In [37]:
# Loops are used to perform repetitive task in Python
# Loops are also called iterations
# There are two types of loops in Python

# 1. for loop
# 2. while loop
# 3. do...while (This is not possible in python)


# For loops in python
# for loop is used with iterables (sequence data) in python
# Unlike in C/C#/Java condition is not checked in python for loop

# for(i=0;i<=10;i++){
#     printf(i)
# }

vowels = ["a", "e", "i", "o", "u"]
for each in vowels:  # traversing in vowels
    print(each)

# range()
# range is a python built-in function to generate n numbers

data = range(10)
print(list(data))  # 0, 1, 2, 3, 4, 5, 6, 7, 8, 9

data = range(0, 10)
print(list(data))  # 0, 1, 2, 3, 4, 5, 6, 7, 8, 9

data = range(2, 7)
print(list(data))  # 2, 3, 4, 5, 6

data = range(1, 10, 2)
print(list(data))  # 1, 3, 5, 7, 9


# WAP to print "Hello World" 50 times
#for _ in range(51):
 #   print("Hello World")

# enumerate()
# enumerate() is a python built-in function to give the elements of iterable along with their count

vowels = ["a", "e", "i", "o", "u"]
data = enumerate(vowels)
print(list(data))  # [(0, a), (1, e), (2, i), (3, o), (4, u)]

data = enumerate(vowels, start=1)
print(list(data))  # [(1, a), (2, e), (3, i), (4, o), (5, u)]

for i in range(len(vowels)):
    print(vowels[i])


for each in enumerate(vowels):
    print(each)  # (0, a)

for index, vowel in enumerate(vowels):  # here "index, value" is unpacking tuple from each loop
    print(index, vowel)  # 0  1  2  3  4

for index, vowel in enumerate(vowels[::-1]):  # reverse / here "index, value" is unpacking tuple from each loop
    print(index, vowel)  # 0  1  2  3  4

a
e
i
o
u
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6]
[1, 3, 5, 7, 9]
[(0, 'a'), (1, 'e'), (2, 'i'), (3, 'o'), (4, 'u')]
[(1, 'a'), (2, 'e'), (3, 'i'), (4, 'o'), (5, 'u')]
a
e
i
o
u
(0, 'a')
(1, 'e')
(2, 'i')
(3, 'o')
(4, 'u')
0 a
1 e
2 i
3 o
4 u
0 u
1 o
2 i
3 e
4 a

In [39]:
 for i in range(5):
    print('hello')

hello
hello
hello
hello
hello

In [41]:
for i in range(1,5,2):
    print('hello')

hello
hello

In [ ]:
s= 0
for i in range(5):
    x=int(input('enter x=='))
    s=s+x

In [3]:
# range(n):to provide n range
range(5)#01234
range(1,5)#1,2,3,4,5
range(1,5,2)#1,3
# for output
for i in range(5):
    print(i,'hello')

0 hello
1 hello
2 hello
3 hello
4 hello

In [4]:
for _ in range(1,5):
    print(_,'hello')

1 hello
2 hello
3 hello
4 hello

In [ ]:
for _ in range(1,5,2)