# dictionary:
- support:
 - indexing
  - ordered
  - multiple and duplicate value
  - mutable data

In [1]:
# used
d= dict() #function to create

In [2]:
# {<key>:<value>,<key>:<value>,....}# key is like indexing using according to user need

In [4]:
d={"a":'apple','b':'ball','c':'cat'}# ordered data
d
print(type(d),d)

<class 'dict'> {'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [5]:
# using for loop
for i in d:
    print(i,end=" ")

a b c

In [7]:
#for only values
for i in d.values():
    print(i,end=' ')

apple ball cat

In [9]:
# for each item with indexing
for i in d.items():
    print(i,end=' ')

('a', 'apple') ('b', 'ball') ('c', 'cat')

In [15]:
# i.e mutable data type (change in data type ) we cannt used +,- etc operation
d=[['a','apple'],['b','ball'],['c','cat']]
print(dict(d))

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

# this is key orirnted so wo do not used same key like {'a':'fj',"a":'pk'} a and a are same ke so that not accept

In [18]:
# using user input
d={}
n=int(input("enter number:"))
for i in range(n):
    name=input('enter the name:')# i.e key
    ph=int(input('enter the ph:'))# i.e variable
    age=int(input('enter the age:'))
    d[name]=ph  # for making key value data[key value]=< data of user> for also show like this format {'dj': 7373, 'pk': 7373}
print(d)

enter number:2
enter the name:dj
enter the ph:6363
enter the age:23
enter the name:pk
enter the ph:37373
enter the age:22
{'dj': (6363, 23), 'pk': (37373, 22)}

In [20]:
# using user input
d={}
n=int(input("enter number:"))
for i in range(n):
    name=input('enter the name:')# i.e key
    ph=int(input('enter the ph:'))# i.e variable
    age=int(input('enter the age:'))
   # d[name][age]=ph  # not ligle
    d[name,age]=ph#{('fj', 23): 7474}
print(d)

enter number:1
enter the name:fj
enter the ph:7474
enter the age:23
{('fj', 23): 7474}

In [23]:
d=   {'dj': [6363, 23], 'pk': [37373, 22]}
print(d,'\n',d['dj'][0])

{'dj': [6363, 23], 'pk': [37373, 22]}
 6363

In [24]:
# wap to create above dict format # hw

In [25]:
# update
d={'ram':1234555,'shyam':765443322}
d['ram']=5554321
d

{'ram': 5554321, 'shyam': 765443322}

In [28]:
# add for new welement same as update
d={'ram':12345,'dj':98765}
d['pk']=666666666
d

{'ram': 12345, 'dj': 98765, 'pk': 666666666}

In [3]:
# delett using del()
# del pop
d={'ram': 12345, 'dj': 98765, 'pk': 666666666}
del d['pk']
print(d,)

{'ram': 12345, 'dj': 98765}

In [30]:
# pop 
d={'ram': 12345, 'dj': 98765, 'pk': 666666666}
d.pop('pk')
d

{'ram': 12345, 'dj': 98765}

In [31]:
# pop ewith eith exxtra data type
d={'ram': 12345, 'dj': 98765, 'pk': 666666666}
c=d.pop('pk')
print(c)

666666666

In [35]:
# QS: list 
# using user input
d={}
n=int(input("enter number:"))
for i in range(n):
    name=input('enter the name:')# i.e key
    ph=int(input('enter the ph:'))# i.e variable
    age=int(input('enter the age:'))
   # d[name][age]=ph  # not ligle
    d[name,age]=[ph] #{('hf', 23): [63636]} #using with multiple keys
print(d)

enter number:1
enter the name:hf
enter the ph:63636
enter the age:23
{('hf', 23): [63636]}

In [36]:
# QS: list 
# using user input
d={}
n=int(input("enter number:"))
for i in range(n):
    name=input('enter the name:')# i.e key
    ph=int(input('enter the ph:'))# i.e variable
    age=int(input('enter the age:'))
   # d[name][age]=ph  # not ligle
    d[name]=[ph,age] #{'dj': [9866336574, 23]}
print(d)

enter number:1
enter the name:dj
enter the ph:9866336574
enter the age:23
{'dj': [9866336574, 23]}

In [6]:
# list inside dictionary ,add delet update ......
# o/pa={'name':['ram','shyam','hari'],'ntc':[9866336574,9847901456],'ncell':[980732723,98087676]}
#1 create empity dictory
#2 for loop for repeatevely store data
#3 input the key and value
#4 used condition

In [1]:


d={}
n=int(input('for for loop'))
for item in range(n):
    name=input('enter the name:\n')
    ncell=int(input('enter ncell number:\n'))
    ntc=int(input('enter the ntc:\n'))
    d['name']= [name]
    d['ncell']=[ncell]
    d['ntc']= [ntc]
    
    d['name'].extend(name)# add diff .(multiple data in list)  key data of name 
    d['ncell'].append(ncell)
    d['ntc'].append(ntc)
    #d['name'],d['ncell'],d['ntc']=[name],[ncell],[ntc] 
print(d)

for for loop2
enter the name:
dhananjay
enter ncell number:
980765432
enter the ntc:
986642323243
enter the name:
pk
enter ncell number:
980765432
enter the ntc:
9877654
{'name': ['pk', 'p', 'k'], 'ncell': [980765432, 980765432], 'ntc': [9877654, 9877654]}

In [3]:
d={'name':[],'ntc':[],'ncell':[]}
n=int(input('enter for loop'))
for i in range(n):
    name=input('enter the name:\n')
    ncell=int(input('enter ncell number:\n'))
    ntc=int(input('enter the ntc:\n'))
    d['name'].append(name),d['ntc'].append(ntc),d['ncell'].append(ncell)
d

enter for loop2
enter the name:
dj
enter ncell number:
986653535
enter the ntc:
98076
enter the name:
pk
enter ncell number:
98766553
enter the ntc:
9806653

{'name': ['dj', 'pk'], 'ntc': [98076, 9806653], 'ncell': [986653535, 98766553]}

In [4]:
print(d['name'][0],d['ntc'][1],d['ncell'][0]) # for accessing

dj 9806653 986653535

In [5]:
# dictionary inside dictionary (using crud i.e read, update,delet...)H/W

In [2]:
#DICTIONARY INSIDE DICT
d={1:{'name':'dj','age':24,'add':'kathmandu'},
   2:{'name':'pk','age':23,'add':'npj'}}
# indexing
print(d[1])
print(d[1]['name'])# access inside data 
d[1]['age']

{'name': 'dj', 'age': 24, 'add': 'kathmandu'}
dj

24

In [ ]:
d={'name':[],'ntc':[],'ncell':[]}
n=int(input('enter for loop'))
for i in range(n):
    name=input('enter the name:\n')
    ncell=int(input('enter ncell number:\n'))
    ntc=int(input('enter the ntc:\n'))
    d['name'].append(name),d['ntc'].append(ntc),d['ncell'].append(ncell)
d

In [1]:
# wap to create billing application using list inside list dict inside dict and crud
#wap to create above dict inside dict and do crud operation
# wap to create tuple inside tuple 
# wap to convert tuple inside tuple to list inside list

In [7]:
# Input tuple co
inner_tuple = int(input('enter the data'))  #((1, 2), (3, 4), (5, 6))

# Initialize an empty list to store the converted elements
output_list = []

# Iterate through the input tuple
for i in inner_tuple:
    # Initialize an empty list for each inner tuple
    inner_list = []
    # Iterate through the elements of the inner tuple
    for element in inner_tuple:
        # Append the element to the inner list
        inner_list.append(element)
    # Append the inner list to the output list
    output_list.append(inner_list)

# Print the converted list
print("Converted List:", output_list)

enter the data1

TypeError: 'int' object is not iterable

In [2]:
a=((1,2),(3,4),(5,6))
l=[]
for i in a:
    innerList=[]
    for element in a:
        innerList.append(element)
    l.append(innerList)  
print('converted list',l)

converted list [[(1, 2), (3, 4), (5, 6)], [(1, 2), (3, 4), (5, 6)], [(1, 2), (3, 4), (5, 6)]]

In [13]:
t=tuple()
n= int(input('enter for loop'))
for i in range(n):
    x=int(input('enter the tuple data='))
    t=t+(x,)
    
print(t)

enter the tuple data=1
enter the tuple data=2
enter the tuple data=3
(1, 2, 3)

####