# function are two type i.e user defined and builtin function
- what is function
- why fun?
- how to used fun
- type of function : two type of function

In [1]:
# pre define fun
# i.e print(),float(),list(),tuple(),dictory(),set()........etc

In [2]:
# user define fun
# def <function_name>(): # defining the function
#   <operation>
# function_name() # calling the function

In [3]:
def hello():
    print('hell dj')
hello()

hell dj

In [6]:
def cal():
    # those l,b,a are the local variable1

    l= int(input('enter data l'))
    b=int(input('enter data b'))
    a=l*b
    print(a)
cal()

enter data l1
enter data b2
2

In [11]:
###  for globle variable : i.we can assics oute site the function also and aaswell as inside the function
l= int(input('enter data l='))
b=int(input('enter data b='))
def cal():
    
    a= l*b
    print(a)
cal()

enter data l=2
enter data b=2
4

In [16]:
def cal():
    global a,l,b  #  for making the globle variable
    
    l= int(input('enter data l='))
    b=int(input('enter data b='))
    a=l*b
    print(a)
cal()
print(l,b,a) # for  accessing the function data as globle

enter data l=2
enter data b=2
4
2 2 4

# arguments and return type

In [17]:
# function with argument
def cal(x,y):# parameter
    a=l*b
    print(a)
l= int(input('enter data l'))
b=int(input('enter data b'))
cal(l,b) # l,b are argument

enter data l2
enter data b2
4

In [20]:
def area(x,y):
    a=l*b
    print(a)
def volum(x,y,z):
    v=l*b*h
    print(v)
l= int(input('enter data l='))
b=int(input('enter data b='))
h=int(input('enter data h='))
area(l,b)
volum(l,b,h)

enter data l=22
enter data b=2
enter data h=2
44
88

In [23]:
## parameter having defult value
def language(lan='python'):
    print(lan)
language('c')
language('c#')
language()

c
c#
python

# return values
# return type function

In [26]:
def area():
    l= int(input('enter data l='))
    b=int(input('enter data b='))
    a=l*b
    return a
ar=area()
print(ar) # also we write print(area())

enter data l=2
enter data b=2
4

In [28]:
def area():
    l= int(input('enter data l='))
    b=int(input('enter data b='))
    a=l*b
    return a
print(area())
h= int(input('enter hight'))
ar=area()
v=ar*h
print(v)

enter data l=2
enter data b=2
4
enter hight2
enter data l=2
enter data b=2
8

In [31]:
def area(x,y):
    a=l*b
    return a
    
l= int(input('enter data l='))
b=int(input('enter data b='))
ar=area(l,b)
print(ar)
h= int(input('enter hight'))
v=ar*h
print(v)

enter data l=2
enter data b=2
4
enter hight2
8

In [33]:
## 
def area(x,y):
    a=x*y
    print(a)
    def volume(x,y,z):
        v=l*b*h
        print(v)
l=int(input('enter the length=')) 
b=int(input('enter the breth=')) 
h=int(input('enter the hight=')) 
area(l,b)
volum(l,b,h)

enter the length=2
enter the breth=2
enter the hight=2
4
8

In [34]:
## function with argument 
def area(x,y):
    a=x*y
    return a
    def volume(x,y,z):
        a=area(x,y)
        v=a*h
        return v
l=int(input('enter the length=')) 
b=int(input('enter the breth=')) 
h=int(input('enter the hight=')) 
area(l,b)
print(volum(l,b,h))

enter the length=2
enter the breth=2
enter the hight=2
8
None

# # wap to create create calculater using if and ilse and used return type function

In [1]:
# take a variable  for operation like add, sub, mul, dev,
#

In [ ]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y == 0:
        return "Error! Division by zero."
    else:
        return x / y

def calculator():
    print("Select operation:")
    print("1. Add")
    print("2. Subtract")
    print("3. Multiply")
    print("4. Divide")

    choice = input("Enter choice (1/2/3/4): ")

    num1 = float(input("Enter first number: "))
    num2 = float(input("Enter second number: "))

    if choice == '1':
        print("Result:", add(num1, num2))
    elif choice == '2':
        print("Result:", subtract(num1, num2))
    elif choice == '3':
        print("Result:", multiply(num1, num2))
    elif choice == '4':
        print("Result:", divide(num1, num2))
    else:
        print("Invalid input")

calculator()

In [ ]:
# return type function:  with the example of calculation

In [6]:
def add(x,y):
    return x+y
def sub(x,y):
    return x-y
def mul(x,y):
    return x*y
def div(x,y):
    return x/y
def calculator():
    print('select operator :')
    print('1. add')
    print('2. subtract :')
    print('3.multiply')
    print('4.divide:')
    
    chose=int(input('enter the number 1,2,3,4 for select arthmatic operation:'))
    num1=float(input('enter the first number='))
    num2=float(input('enter hte second number='))
    if chose==1:
        print(f'result{add(num1,num2)}')
    if chose== 2:
        print(f'result{sub(num,num2)}')
    if chose==3:
        print(f'result{mul(num1,num2)}')
    if chose==4:
        print(f'result{div(num1,num2)}')
    else:
        print('invalid')
calculator()

select operator :
1. add
2. subtract :
3.multiply
4.divide:
enter the number 1,2,3,4 for select arthmatic operation:1
enter the first number=2
enter hte second number=3
result5.0

###

In [7]:

# recursive function
def hello():
        x=input('enter the ')
        if x=='y':
            hello()
hello()

enter the y
enter the y
enter the t

In [ ]:
# recursive function  with written type
def add(x,y):
    return x+y
def sub(x,y):
    return x-y
def mul(x,y):
    return x*y
def div(x,y):
    return x/y
def calculator():
    print('select operator :')
    print('1. add')
    print('2. subtract :')
    print('3.multiply')
    print('4.divide:')
    
    chose=int(input('enter the number 1,2,3,4 for select arthmatic operation:'))
    num1=float(input('enter the first number='))
    num2=float(input('enter hte second number='))
    if chose==1:
        print(f'result{add(num1,num2)}')
    if chose== 2:
        print(f'result{sub(num,num2)}')
    if chose==3:
        print(f'result{mul(num1,num2)}')
    if chose==4:
        print(f'result{div(num1,num2)}')
    else:
        print ('invalid')
    # for recursive function 
    x= input('enter y for more call ')# for recursive
    calculator()
calculator()

# recursive functin call repeatidely

# lambda function
- anynomous (i.e funcgtion having no name)
- syntax: lambda <argument>:<operation>.
- used for simple problem
- only for short ,single
- allow diff arg
- faster then ordinary fun
-

In [2]:
x=lambda a:a*2
print(x(2))

4

In [3]:
x=lambda l,b:l*b
print(x(2,3))

6

# filter function ( imp)
#- filter the list 
#- syntax: list,or,dictory(lambda(<argument>:<condition>,<arr>))

In [7]:
a=[0,1,2,3,4,5]
list(filter(lambda x: x%2==0,a))
# also used in string not only int

[0, 2, 4]

In [13]:
a=['apple',"Banana",'Mango','fish']
list(filter(lambda x:x.islower(),a))# islower function to see the lower and uper data # o/p:['apple', 'fish']

#list(filter(lambda x:not x.islower(),a)) # for complement of this  # o/p:['Banana', 'Mango']

['apple', 'fish']

In [11]:
list(filter(lambda x:not x.islower(),a))

['Banana', 'Mango']

# map function()
# list(map(lambda<argument>:<operation>,<arr>))

In [14]:
a=['apple','Banana','dj','PK']
list(map(lambda x: x.lower(),a))

['apple', 'banana', 'dj', 'pk']

# #math function
- used when all math function foe trigonomatric ,log ,exp
- at frist impoet math

In [17]:
import math as m
print(m.pi)
print(m.e)
print(m.)

3.141592653589793
3.141592653589793

In [18]:
# home work for math function

In [23]:
# 
def info(data):
    print(f"hello i am {data['name']}. iam from {data['age']}.") # dictionary value pair
 #   pass
name=input('enter name=')
age=int(input('enter age'))
d={'name':name,'age':age}# key value pair
info(d)

enter name=dhanananjay
enter age23
hello i am dhanananjay. iam from 23.

In [22]:
def info():
    x=data[name]
    y=data[age]

IndentationError: expected an indented block (1167753142.py, line 1)