In [4]:
a=['apple',1,'cat','dj']
for item in a:
    print(item,end=" ")

apple 1 cat dj

In [5]:
# create list
# used function
# append()
# insert()
#extend()

In [12]:
l=[]
n=int(input('enter int:'))
for item in range(n):
    x= int(input('enter x='))
    l.append(x)
print(l)

enter int:2
enter x=3
enter x=1
[3, 1]

In [18]:
# all are the fun used in 
print(min(l))
print(max(l))
print(sum(l))
print('average=',sum(l)/n)
l.sort()
print(l)
l.reverse()
print(l)

1
3
4
average= 2.0
[1, 3]
[3, 1]

In [24]:
l=[]
n=int(input('enter for the loop'))
for i in range(n):
    x=input('enterr the daata alphabet')
    l.append(x)
print(l, end=' ')

enter for the loop2
enterr the daata alphabetdj
enterr the daata alphabetgc
['dj', 'gc']

In [25]:
l.sort()
print(l)

['dj', 'gc']

In [28]:
# insert():add element according to specific position
a=['apple',1,3,'dj']
a.insert(1,'apple')
print(a)

['apple', 'apple', 1, 3, 'dj']

In [27]:
b=[1,2,3,4]
a.extend(b)# for multiple data add at the end
print(a)

['apple', 'apple', 1, 3, 'dj', 1, 2, 3, 4]

In [31]:
# update(): just 
a[3]='djg'
a

['apple', 'apple', 1, 'djg', 'dj']

In [37]:
a=[1,2,3,4,5,'dj']
a[1]=['gc','pk']
a
a[1:2]
a

[1, ['gc', 'pk'], 3, 4, 5, 'dj']

In [35]:
a[1:0]
a

[1, ['gc', 'pk'], 3, 4, 5, 'dj']

In [39]:
#delete() delet fpor each especific position data
# del remove() pop()
a=[1,2,3,4,5,'dj']
del a[0:1] # delet the o to position 1 element
a

[2, 3, 4, 5, 'dj']

In [42]:
a.remove('dj')
a

[3, 4, 5]

In [46]:
# for delet duplicate all data at atime
a=['apple',1,3,5,"dj",'apple']
c=a.count('apple')
print(c,end=' ')
for i in range(c):
    a.remove('apple')
print(a)

2 [1, 3, 5, 'dj']

In [48]:
l=len(a)
for i in range(l):
    print(i,a[i])# for

0 1
1 3
2 5
3 dj

In [49]:
# for print index value of data
a=[1,'dj',2,3,4,'dj','6','7','dj']
l=len(a)
for i in range(l):
    if a[i]=='dj':# for print dj in stander position
        print(i)

1
5
8

In [52]:
# pop()
a=[1,'dj',2,3,4,'dj','6','7','dj']
a.pop()
a

[1, 'dj', 2, 3, 4, 'dj', '6', '7']

In [54]:
a.pop(2) # for pop the index 2 element only take the  position of list element it cannnt take ster like :a.pop(str) i.e not liggle
a

[1, 'dj', 4, 'dj', '6', '7']

In [1]:
print('hello dj')

hello dj

# nated list: for multiple value for multiple list

In [3]:
a=[[1,2],[3,4],['dj','hi']]
print(type(a),a)

<class 'list'> [[1, 2], [3, 4], ['dj', 'hi']]

In [9]:
a=[['name','age','add'],
  ['dj',24,'pyuthan'],
  ['pk',23,'npj']]
print(type(a),a)# o/p: <class 'list'> [['name', 'age', 'add'], ['dj', 24, 'pyuthan'], ['pk', 23, 'npj']]

# for length of function
print(len(a))#3
print(a[0])#['name', 'age', 'add'] i.e indexing
print(a[0][2])# for acces the list inside item  i.e add only you need

<class 'list'> [['name', 'age', 'add'], ['dj', 24, 'pyuthan'], ['pk', 23, 'npj']]
3
['name', 'age', 'add']
add

In [5]:
# wap to create the user data set to list 

l=[]
n=int(input('enter n='))
for i in range(n):
    name=input('enter name;')
    age=int(input('enter age;'))
    add=input('enter address;')
    data=[name,age,add]
    l.append(data)
print(l)

enter n=2
enter name;pk
enter age;25
enter address;
enter name;dk
enter age;23
enter address;npj
[['pk', 25, ''], ['dk', 23, 'npj']]

In [3]:
'''

serch
'''
a=[['name','age','add'],
  ['dj',24,'pyuthan'],
  ['pk',23,'npj']]
name=input('enter=')
for i in a:
    if name in i:

               
        print(i)

enter=2

In [9]:
'''

serch WITH CASE SENSETIVE 
'''
a=[['name','age','add'],
  ['dj',24,'pyuthan'],
  ['pk',23,'npj']
  ]
name=input('enter')
for i in a:
    if name.lower() in i[0].lower(): # not a good way # print similer name also
    
        print(i)

enterDJ
['dj', 24, 'pyuthan']

In [28]:
# next method for exact input to response 
'''

serch
'''
a=[['name','age','add'],
  ['dj',24,'pyuthan'],
  ['pk',23,'npj']
  ]
name=input('enter:')
for i in a:
        if name.lower()==i[0].lower():
            print(i)

enter:DJ
['dj', 24, 'pyuthan']

In [25]:
# print the index of element
a=['dj','pk','dj','sp','dj']
l=len(a)
for i in range(l):
    if 'dj' ==a[i]:# condition for index to data 
        print(i)
   #print(a[i])

0
2
4

In [29]:
# list and distonary

In [38]:
'''

index data TO SEARCH
'''
a=[['name','age','add'],
  ['dj',24,'pyuthan'],
  ['pk',23,'npj'],
   ['dj',24,'pk']
  ]
l=len(a)
name=input('enter name')
for i in range(l):
   # if name ==a[i][0]:
    # for case sensetive
    if name.lower()==a[i][0].lower():# WITH LOWER AND UPPER CASE 
        
        print(i)

enter nameDJ
1
3

# qs:
# wap to crate matrix with input row and colmn and also data of row and column
a=int(input("enter the row="))
b=int(int('column='))
list_data=[]

In [1]:
N = int(input('enter the matrix'))
matrix = [[0 for j in range(N)] for i in range(N)]
for i in range(N):
    for j in range(N):
        matrix[i][j] = i*N + j
print(matrix)

enter the matrix4
[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11], [12, 13, 14, 15]]

In [2]:


# Initialize an empty matrix
matrix = []
N= int(input('input size of matrix size:'))
# Loop to range of the matrix
for i in range(N):
    row = []  # Initialize an empty row
    for j in range(N):
        # Calculate the value to be inserted in the matrix
        value = i * N + j
        row.append(value)  # Append the value to the row
    matrix.append(row)  # Append the row to the matrix

# Print the matrix
for row in matrix:
    print(row)

input size of matrix size:2
[0, 1]
[2, 3]

In [4]:
N = int(input('Enter the size of the matrix: '))

# Initialize an empty matrix
matrix = []

# for matric size the matrix using loops
for i in range(N):
    row = []  # Initialize an empty row
    for j in range(N):
        value = i * N + j  # Calculate the value to be inserted in the matrix
        row.append(value)  # Append the value to the row
    matrix.append(row)  # Append the row to the matrix

# Print the matrix
for row in matrix:
    print(row)

Enter the size of the matrix: 3
[0, 1, 2]
[3, 4, 5]
[6, 7, 8]

In [5]:
# Initialize an empty dictionary
data = {}

# Get input from the user
key_count = int(input("Enter the number of keys: "))

# Input keys and corresponding values
for _ in range(key_count):
    key = input("Enter key: ")
    values = input("Enter values separated by comma: ").split(',')
    data[key] = values

# Display the dictionary
print("Dictionary:", data)

Enter the number of keys: 2
Enter key: dj
Enter values separated by comma: sds
Enter key: pk
Enter values separated by comma: dss
Dictionary: {'dj': ['sds'], 'pk': ['dss']}