# TUPLES ARE IMMUTABLE DATA DYPE FOLLOW THE RULE OF INDEXING AND SLICING
- I.E ORREDER DATA 
- IMMUTABLE DATA 
- ORIGINAL AND DUPLICATE3 DATA
- REP: T=()

In [1]:
T=(1,2,3,4,5,6)
print(type(T))

<class 'tuple'>

In [6]:
# indexing
print(T[0])
# slicing
print(T[0:4])

1
(1, 2, 3, 4)

In [14]:
a=(1,)
type(a)

tuple

1. no append(), insert(),extend()
2. no update
3. no del pop() remove()
4. no sort()

array = list and tuple to work togather( to defined)

# why used tuple : i.e light data type so we 
# dynamic data = list
# light data =tuple

In [9]:
t=tuple()
for i in range(5):
    x= int(input('enter x='))
    # concanicate
    t= t+(x,)# we can perform the addition of string ..with (data type ,) to especify
print(t)

enter x=2
enter x=2
enter x=2
enter x=2
enter x=2
(2, 2, 2, 2, 2)

# we can convert tuple in to list( i.e a=(1,2,3) to change into c= list(a)

In [18]:
a=(1,2,3,4,4)
b=list(a)
print(a,"\n",b)
print(max(a),'\n' ,min(a),'\n',a[0:4],'\n',b[3])

(1, 2, 3, 4, 4)
 [1, 2, 3, 4, 4]
4
 1
 (1, 2, 3, 4)
 4